pipeline/pl_ingest_restapi_raw_control_get_watermark.json
{
	"name": "pl_ingest_restapi_raw_control_get_watermark",
	"properties": {
		"activities": [
			{
				"name": "act_lookup_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT last_watermark\nFROM ingestion_watermark\nWHERE source_name = '@{pipeline().parameters.p_source_name}'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_postgres_watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "act_set_watermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_lookup_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_watermark",
					"value": {
						"value": "@if(equals(activity('act_lookup_watermark').output.firstRow,null),0,activity('act_lookup_watermark').output.firstRow.last_watermark)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_source_name": {
				"type": "string",
				"defaultValue": "rest_reqres_api"
			}
		},
		"variables": {
			"v_watermark": {
				"type": "Integer"
			},
			"v_watermark_str": {
				"type": "String"
			}
		},
		"annotations": []
	}
}