pipeline/pl_ingest_restapi_users_bronze.json
{
	"name": "pl_ingest_restapi_users_bronze",
	"properties": {
		"activities": [
			{
				"name": "act_until_pagination",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "act_log_pipeline_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('v_has_more'),false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_get_users_batch",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(\n  'https://dummyjson.com/users?limit=',\n  string(pipeline().parameters.p_limit),\n  '&skip=',\n  string(variables('v_skip'))\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_check_users",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "act_get_users_batch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(\n  add(variables('v_skip'), pipeline().parameters.p_limit),\n  activity('act_get_users_batch').output.total\n)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "act_stop_loop",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_has_more",
											"value": {
												"value": "@false",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "act_copy_api_to_adls",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET"
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_rest_users",
												"type": "DatasetReference",
												"parameters": {
													"p_relative_url": {
														"value": "@concat(\n  pipeline().parameters.p_base_url,\n  '?limit=',\n  string(pipeline().parameters.p_limit),\n  '&skip=',\n  string(variables('v_skip'))\n)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_users_bronze",
												"type": "DatasetReference",
												"parameters": {
													"p_folder_path": "users",
													"p_file_name": "@concat('users_', string(variables('v_file_counter')), '.json')"
												}
											}
										]
									},
									{
										"name": "act_log_table_load",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "act_copy_api_to_adls",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_postgres_db",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "INSERT INTO etl_table_load_log (\n    pipeline_run_id,\n    table_name,\n    layer,\n    records_inserted,\n    status\n)\nVALUES (\n    '@{pipeline().RunId}',\n    'users_bronze',\n    'BRONZE',\n    @{activity('act_copy_api_to_adls').output.rowsCopied},\n    'SUCCESS'\n);"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "act_calculate_next_skip",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "act_log_table_load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_next_skip",
											"value": {
												"value": "@add(variables('v_skip'),pipeline().parameters.p_limit)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "act_update_skip",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "act_calculate_next_skip",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_skip",
											"value": {
												"value": "@variables('v_next_skip')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "act_calculate_next_file",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "act_update_skip",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_next_file_counter",
											"value": {
												"value": "@add(variables('v_file_counter'),1)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "act_update_file",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "act_calculate_next_file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_file_counter",
											"value": {
												"value": "@variables('v_next_file_counter')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "act_log_pipeline_start",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_postgres_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "INSERT INTO etl_pipeline_run_log (\n    pipeline_name,\n    pipeline_run_id,\n    load_type,\n    status,\n    start_time\n)\nVALUES (\n    'pl_ingest_restapi_users_bronze',\n    '@{pipeline().RunId}',\n    'FULL',\n    'RUNNING',\n    CURRENT_TIMESTAMP\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "act_log_pipeline_success",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "act_until_pagination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_postgres_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE etl_pipeline_run_log\nSET \n    status = 'SUCCESS',\n    end_time = CURRENT_TIMESTAMP\nWHERE pipeline_run_id = '@{pipeline().RunId}';"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"p_limit": {
				"type": "int",
				"defaultValue": 10
			},
			"p_base_url": {
				"type": "string",
				"defaultValue": "/users"
			}
		},
		"variables": {
			"v_skip": {
				"type": "Integer",
				"defaultValue": 0
			},
			"v_has_more": {
				"type": "Boolean",
				"defaultValue": true
			},
			"v_file_counter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"v_next_skip": {
				"type": "Integer"
			},
			"v_next_file_counter": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}